@using System.Web.Http
@using Base.Api.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<div class="secPdng animated fadeInUp" style="opacity: 1;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectionTitle">
                    <div class="h2">@Html.ActionLink("Api", "Index")</div>
                    <p>Documentação para a utilização da API</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="clearfix">
                <h1>@Model.Name</h1>
                <p>@Model.Documentation</p>
                <section class="content-wrapper main-content clear-fix">
                    @Html.DisplayFor(m => Model)
                </section>
            </div>
        </div>
    </div>
</div>